<h1 class="my-1 text-center">ğ´ğ‘›Ìƒğ‘ğ‘‘ğ‘–ğ‘Ÿ ğ‘‚ğ‘Ÿğ‘‘ğ‘’ğ‘›:</h1>
  {{#each foundItems}}
  <article id="availableEach">
    <h4 class="card-title my-3">âš™ ğ‘ƒğ‘Ÿğ‘œğ‘‘ğ‘¢ğ‘ğ‘¡ğ‘œğ‘  ğ·ğ‘–ğ‘ğ‘œğ‘›ğ‘–ğ‘ğ‘™ğ‘’ğ‘ :</h4>
    <p class="card-text"><b>ğ‘ğ‘œğ‘šğ‘ğ‘Ÿğ‘’:</b> {{this.name}} - <b>ğ‘€ğ‘ğ‘Ÿğ‘ğ‘:</b> {{this.brand}}</p>
    <p class="card-text"><b>ğ·ğ‘–ğ‘ ğ‘ğ‘œğ‘›ğ‘–ğ‘ğ‘™ğ‘’ğ‘ :</b> {{this.available}} - <b>ğ‘ƒğ‘Ÿğ‘’ğ‘ğ‘–ğ‘œ ğ‘¥ ğ‘ˆğ‘›ğ‘–ğ‘‘ğ‘ğ‘‘:</b> ${{this.unitPrice}}</p>
    <p class="card-text"><b>ID:</b> {{this._id}} (ğ‘ğ‘œğ‘ğ‘–ğ‘ğ‘Ÿ ğ‘¦ ğ‘ğ‘’ğ‘”ğ‘ğ‘Ÿ ğ¼ğ· ğ‘’ğ‘› ğ‘’ğ‘™ ğ‘“ğ‘œğ‘Ÿğ‘šğ‘¢ğ‘™ğ‘ğ‘Ÿğ‘–ğ‘œ ğ‘‘ğ‘’ ğ‘ğ‘ğ‘ğ‘—ğ‘œ ğ‘ğ‘ğ‘Ÿğ‘ ğ‘ğ‘Ÿğ‘’ğ‘ğ‘Ÿ ğ‘¢ğ‘›ğ‘ ğ‘œğ‘Ÿğ‘‘ğ‘’ğ‘›)</p>
  </article>
  {{/each}}
<form action="/orders/" method="POST" id="addOrderForm">
  <p class="my-2">âš™ <b>ğ´ğ‘”ğ‘Ÿğ‘’ğ‘”ğ‘ğ‘Ÿ ğ‘›ğ‘¢ğ‘’ğ‘£ğ‘ ğ‘‚ğ‘Ÿğ‘‘ğ‘’ğ‘›</b></p>
  <input
    type="text"
    placeholder="Fecha AAAA/MM/DD"
    class="form-control my-2"
    name="date"
    required
  />
  <input
    type="text"
    placeholder="Mesa"
    class="form-control my-2"
    name="location"
    required
  />
  <select
    class="form-select"
    aria-label="Default select example"
    name="paidIn"
    required
  >
    <option>Seleccione un metodo de pago</option>
    <option value="Efectivo">Efectivo</option>
    <option value="Tarjeta">Tarjeta</option>
  </select>
  <input
    type="text"
    placeholder="Id del producto"
    class="form-control my-2"
    name="products[][_id]"
    required
  />
  <input
    type="text"
    placeholder="Nombre del producto"
    class="form-control my-2"
    name="products[][name]"
    required
  />
  <input
    type="number"
    placeholder="Ingrese una Cantidad"
    class="form-control my-2"
    name="products[][amount]"
    required
  />
  <input
    type="text"
    placeholder="Precio Unitario $$"
    class="form-control my-2"
    name="products[][unitPrice]"
    required
  />
  <button class="btn btn-success mb-2 w-100" type="submit">+ Crear Orden</button>
</form>
<script>
  var addOrderForm = document.getElementById("addOrderForm")
      addOrderForm.addEventListener("submit",(e)=>{
      socket.emit('UpdateOnDatabase');
      })
</script>